[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
v = {version = "*",editable = true}
model-mommy = "*"
coverage = "*"

[packages]
django = "==2.1.7"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.6"
