ul {
  list-style-type: none;
}

li {
  padding-bottom: 1.5em;
  list-style-type: lower-greek;
}

.contributorsList {
  list-style-type: decimal;
}

body {
  color: #1a1a1a;
  background-color: darkcyan;
}